/* Write your CSS here */
.background-co {
  background-color: #150b3e;
  width: 100%;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.co1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.s-co {
  height: 125px;
  width: 135px;
  background-color: #c7d2fe;
  font-size: 45px;
  color: #7c3aed;
  font-weight: 700;
  font-family: 'Roboto';
  border-radius: 208px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
}
.SarahWilliams {
  color: #fff;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 38px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
}
.co2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.YourBalance {
  font-size: 36px;
  font-family: 'Roboto';
  color: #c4c4c4;
  font-weight: 800;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
}
.displayNumber {
  font-size: 66px;
  font-weight: 800;
  font-family: 'Roboto';
  display: flex;
  color: #fff;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
}
.InRupees {
  font-size: 32px;
  font-weight: 700;
  font-family: 'Roboto';
  color: #585076;
}
.co3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Roboto';
}
.Withdraw {
  font-size: 45px;
  font-family: 'Roboto';
  font-weight: 600;
  color: #fff;
  display: flex;
  flex-direction: column;
}
.chooseSum {
  font-size: 38px;
  font-weight: 600;
  color: #585076;
}
.co4 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.btn1 {
  height: 55px;
  width: 180px;
  font-size: 33px;
  border: 2px solid #c4c4c4;
  background-color: #585076;
  color: #ffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  align-items: center;
}
.btn2 {
  height: 55px;
  width: 180px;
  font-size: 33px;
  border: 2px solid #c4c4c4;
  background-color: #585076;
  color: #ffff;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.btn3 {
  height: 55px;
  width: 180px;
  font-size: 33px;
  border: 2px solid #c4c4c4;
  background-color: #585076;
  color: #ffff;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.btn4 {
  height: 55px;
  width: 180px;
  font-size: 33px;
  border: 2px solid #c4c4c4;
  background-color: #585076;
  color: #ffff;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
